# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# don't send up the plugin-build
/plugin-build

_node
/target
.idea
.env
.vscode
*.iml

# Optional eslint cache
.eslintcache

# Intuit assets to ignore
/dist
reports/
cypress/screenshots/*
cypress/videos/*
junit.xml
.jscpd
.plugin-cli-lazy-cache
.project
.settings
.intuitgithookrc
esReport.json